.place-card-wrapper {
  position: fixed;
  left: 284px;
  bottom: 0;
  width: calc(100% - 284px);
  display: flex;
  align-items: end;
  overflow-x: auto;
  padding: 8px 16px 20px 32px;
  box-sizing: border-box;
  gap: 16px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scroll-behavior: smooth;
  cursor: grab;
  z-index: 996;
}

/* Responsive: Full width on mobile/tablet (up to 1024px) */
@media (max-width: 1024px) {
  .place-card-wrapper {
    left: 0;
    width: 100%;
    padding: 8px 16px;
  }
}

.place-card-wrapper:active {
  cursor: grabbing;
}

.place-card-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.place-card {
  border-radius: 24px;
  padding: 16px;
  width: 200px;
  min-width: 200px;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(40px);
  position: relative;
}
.place-card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 24px;
  background: #0000001A;  
  mix-blend-mode: darken;
  z-index: -1;  
}
.place-card.select-item{
   border: 1px solid;
   border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
}
.place-card.select-item::before{
  background: linear-gradient(0deg, rgba(152, 31, 245, 0.30) 0%, rgba(152, 31, 245, 0.30) 100%), rgba(0, 0, 0, 0.10);
}

.place-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.place-card-indicator {  
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 13px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(0deg, var(--Purple-1, #981FF5) 0%, var(--Purple-1, #981FF5) 100%), #D9D9D9;
  background-blend-mode: normal;
}

.place-card-visits {
  background: rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  padding: 6px 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 400;
}

.place-card-title {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  line-height: 1.3;
}

.place-card-subtitle {
  color: rgba(255,255, 255, 0.40);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.place-card-bullet {
  color: #808080;
  margin: 0 4px;
}
